<h1>Поиграем?</h1>

<p><a class="btn btn-primary" id="start-game">Начать игру</a></p>
<p><a class="btn btn-default" id="results">Посмотреть результаты</a></p>

<div class="map hidden">

</div>

<div class="result hidden">
    <table class="table">

    </table>
</div>

<div id="modal-win" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Вы победили!</h4>
            </div>
            <div class="modal-body">
                <p>Ура! Вы победили! Укажите ваше имя и мы запомним ваш результат!</p>
                <p>Мое имя: <input type="text" name="name"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Запомни мое имя!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="modal-lose" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">К сожалению вы проиграли</h4>
            </div>
            <div class="modal-body">
                <p>Ds ghjbuhfkb</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Жаль</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->