<!DOCTYPE html>
<html>
	<head>
		<title>Phalcon PHP Framework</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8" />

        <script src="/js/script.js"></script>
        <style>
            .cell{
                border: 1px solid gray;
                padding: 5px;
                margin:5px;
                display: inline-block;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .cell.user{
                background: #008000;
            }

            .cell.bot {
                background: red;
            }
        </style>
	</head>
	<body>
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
	</body>
</html>